<!DOCTYPE HTML>
<html lang="tr-TR">
<head>
	<meta charset="UTF-8">
	<title>Naabun?</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="/public/favicon/favicon.ico">
	<!-- CSS -->
		<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css"/>
		<link rel="stylesheet" href="/public/css/magnific-popup.css"/>
		<link rel="stylesheet" href="/public/css/css.css"/>
	<!-- CSS -->
	<!-- JS -->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
		<script type="text/javascript" src="/public/js/jquery.js"></script>
		<script type="text/javascript" src="/public/js/jquery.magnific-popup.min.js"></script>
  	<script type="text/javascript" src="/public/js/moment.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/lang/tr.min.js"></script>
  	<script type="text/javascript" src="/public/js/js.js"></script>
	<!-- JS -->
<body>

	<main class="main">
		<%- body %>
	</main>
</body>
</html>
